<!-- <div class="row">
    <div class="col-12">
        <nb-card size="small">
              <nb-tabset fullWidth>
        
        
                <nb-tab tabTitle="Liste de Fiches">
                    
                </nb-tab>
        
        
                <nb-tab tabTitle="{{ s.name }}"  
                    *ngFor="let s of statut$ | async"
                    routerLink="/layouts/list"
                    [queryParams]="{ statut: s.name }"
                ></nb-tab>
        
        
            </nb-tabset>
        </nb-card>  
    </div>
</div> -->
<nb-card>
    <!-- <nb-card-header>Voir par Statut</nb-card-header> -->
    <nb-card-body class="example-items-rows">
        <button nbButton outline status="success" routerLink="/layouts/statut" >Liste des Fiches</button>

        <button nbButton outline status="success"
            *ngFor="let s of statut$ | async"
            routerLink="/layouts/statut"
            [queryParams]="{ statut: s.name }"
            >{{ s.name }}</button>
    </nb-card-body>
</nb-card>