

  ::ng-deep .row-toggle-button {
    color: nb-theme(text-basic-color);
    
  }

  ::ng-deep .table {
    color: nb-theme(text-basic-color);
    
  }


  .search-label {
    display: block;
  }
  .search-input {
    margin-bottom: 1rem;
  }
