
<div class="row">
  <div class="col-xxl-6">
    <div class="row">
      <div class="col-md-6">
          <app-statut-chart></app-statut-chart>
      </div>
      <div class="col-md-6">
          <app-sexe-chart></app-sexe-chart>
      </div>
    </div>

    <!-- <app-nation-chart></app-nation-chart> -->
  </div>

  <div class="col-xxl-6">
    <div class="row">
      <div class="col-md-6">
        <app-nation-chart></app-nation-chart>
      </div>
      <div class="col-md-6">
        <app-events></app-events>
      </div>
  </div>

  <div class="col-xxl-6">
    <div class="row">
      <div class="col-md-6">
        <app-departement></app-departement>
      </div>
      <div class="col-md-6">
        <!-- <app-events></app-events> -->
      </div>
  </div>
</div>

